    <div class="jumbotron">
      <img src="<%= @image.filepicker_url %>/convert?h=600" class="pic">
    </div>

<div class="container">
  <div class="row">
    <div class="page-header col-xs-9 col-offset-1">
      <h1><%= @image.title %>
      <small>Posted by <a href="<%= user_url(@shown_user) %>"><%= @shown_user.username %></a></small></h1>
    </div>
  </div>
  
  <div class="row">
    <div class="caption col-xs-9 col-offset-1">
      <p><%= @image.description %></p>
    </div>
  </div>
  
  <% if @comments.empty? %>
    <h3><i>No comments yet.</i></h3>
  <% else %>
    <div class="row">
      <h2>Comments</h2>
      <div class="col-xs-9 col-offset-1">
        <% @comments.each do |comment| %>
          <% commenter = User.find_by_id(comment.user_id) %>
          <li>posted by <a href="<%= user_url(commenter) %>">
            <%= commenter.username %></a> <%= time_ago_in_words(comment.created_at) %><br>
          <%= comment.body %>
            </li>
        <% end %>
      </div>
    </div>
  <% end %>
  
  <div class="row">
    <h2>Leave a comment!</h2>
    <form action="<%= comments_url %>" method="POST">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
      
      <input
        type="hidden"
        name="comment[image_id]"
        value="<%= @image.id %>">
        
      <input
        type="hidden"
        name="comment[image_user_id]"
        value="<%= @shown_user.id %>">
        
      <label>
        Comment body
      </label>
      <textarea name="comment[body]"></textarea>
    <input type="submit">
  </div>
</div>