<img src="<%= @image.filepicker_url %>/convert?h=600" class="pic">

<h1><%= @image.title %></h1>

<h2>Posted by <a href="<%= user_url(@shown_user) %>"><%= @shown_user.username %></a></h1>

<p><%= @image.description %></p>