    <div class="jumbotron">
      <img src="<%= @image.filepicker_url %>/convert?h=600" class="pic">
    </div>

<div class="container">
  <div class="row">
    <div class="page-header col-xs-9 col-offset-1">
      <h1><%= @image.title %>
      <small>Posted by <a href="<%= user_url(@shown_user) %>"><%= @shown_user.username %></a></small></h1>
    </div>
  </div>
  
  <div class="row">
    <div class="caption col-xs-9 col-offset-1">
      <p><%= @image.description %></p>
    </div>
  </div>
  
  <h2>Tags</h2>
  <% if @taggings.empty? %>
    <h3><i>No tags yet.</i></h3>
  <% else %>
    <div class="row">
      <div class="col-xs-9 col-offset-1">
        <% @taggings.each do |tagging| %>
          <a href="<%= tag_url(tagging.tag_id) %>"><%= tagging.name %></a>
        <% end %>
      </div>
    </div>
  <% end %>
      
  
  <% if @comments.empty? %>
    <h3><i>No comments yet.</i></h3>
  <% else %>
    <div class="row">
      <h2>Comments</h2>
        <% @comments.each do |comment| %>
          <% commenter = User.find_by_id(comment.user_id) %>
          <div class="media">
            <a class="pull-left" href="#">
              <img 
                class="media-object img-circle"
                src="http://placehold.it/32x32"
                alt="user pic">
            </a>
            <div class="media-body">
              <div class="media-heading">
                <a href="<%= user_url(commenter) %>">
                  <%= commenter.username %></a>
                  <%= time_ago_in_words(comment.created_at) %><br>
              </h4>
              <%= comment.body %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  
  <div class="row">
    <div class="caption col-xs-9 col-offset-1">
      <h2>Leave a comment!</h2>
      <form action="<%= comments_url %>" method="POST">
        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
      
        <input
          type="hidden"
          name="comment[image_id]"
          value="<%= @image.id %>">
        
        <input
          type="hidden"
          name="comment[image_user_id]"
          value="<%= @shown_user.id %>">
        
        <div class="form-group">
          <label>
            Comment body
          </label>
        </div>
        <textarea name="comment[body]" class="form-control"></textarea>
      <input type="submit" class="btn btn-primary">
    </div>
  </div>
</div>