    <div class="jumbotron image-backing">
      <img src="<%= @image_url %>" class="pic indiv-pic">
    </div>

<div class="container">
  <div class="row">
    <div class="page-header col-xs-9 col-offset-1">
      <h1><%= @image.title %>
      <small>Posted by <a href="<%= user_url(@shown_user) %>"><%= @shown_user.username %></a></small></h1>
    </div>
  </div>
  
  <div class="row">
    <div class="caption col-xs-9 col-offset-1">
      <p><%= @image.description %></p>
    </div>
  </div>
  
  <% if current_user == @shown_user %>
    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteModal">
      Delete this image
    </button>
    
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Delete this image?</h4>
          </div>
          <div class="modal-body">
            Are you sure?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <a href="<%= user_image_url %>" data-method="delete"><button type="button" class="btn btn-danger">Trash it!</button></a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
  <h2>Tags</h2>
  <% if @taggings.empty? %>
    <h3><i>No tags yet.</i></h3>
  <% else %>
    <div class="row">
      <div class="col-xs-9 col-offset-1">
        <% @taggings.each do |tagging| %>
          <div type="button" class="btn btn-default btn-tag"><a href="<%= tag_url(tagging.tag_id) %>"><%= tagging.name %></a>
            <a href="<%= tagging_url(tagging.id) %>" data-method="delete"><span class="glyphicon glyphicon-remove-circle"></span></a>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  
  <div class="row">
    <div class="caption col-xs-9 col-offset-1">
      <form action="<%= taggings_url %>" method="POST">
        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
      
        <input
          type="hidden"
          name="tag[image_id]"
          value="<%= @image.id %>">
        
        <input
          type="hidden"
          name="tag[image_user_id]"
          value="<%= @shown_user.id %>">
        
        <div class="form-group">
          <label>
            Leave a tag!
          </label>
        </div>
        <textarea name="tag[name]" class="form-control"></textarea>
        <input type="submit" class="btn btn-primary" value="Save tag">
      </form>
    </div>
  </div>
  
      
  <h2>Comments</h2>
  <% if @comments.empty? %>
    <h3><i>No comments yet.</i></h3>
  <% else %>
    <div class="row">
      <h2>Comments</h2>
        <% @comments.each do |comment| %>
          <% commenter = User.find_by_id(comment.user_id) %>
          <div class="media">
            <a class="pull-left" href="#">
              <img 
                class="media-object img-circle"
                src="http://placehold.it/32x32"
                alt="user pic">
            </a>
            <div class="media-body">
              <div class="media-heading">
                <a href="<%= user_url(commenter) %>">
                  <%= commenter.username %></a>
                  <%= time_ago_in_words(comment.created_at) %><br>
              </h4>
              <%= comment.body %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  
  <div class="row">
    <div class="caption col-xs-9 col-offset-1">
      <h3>Leave a comment!</h3>
      <form action="<%= comments_url %>" method="POST">
        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
      
        <input
          type="hidden"
          name="comment[image_id]"
          value="<%= @image.id %>">
        
        <input
          type="hidden"
          name="comment[image_user_id]"
          value="<%= @shown_user.id %>">
        
        <div class="form-group">
          <label>
            Comment body
          </label>
        </div>
        <textarea name="comment[body]" class="form-control"></textarea>
        <input type="submit" class="btn btn-primary" value="Save comment">
      </form>
    </div>
  </div>
</div>